.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out; /* Adjust animation speed as needed */
}

.visible {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  right: -400px; /* Initially off-screen */
  width: 300px;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: right 0.3s ease-out;
  z-index: 999;
}

.popup.open {
  right: 0; /* Slide in from the right when open */
}

.popup-content {
  padding: 20px;
}

.close-btn {
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: #ddd;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.close-btn:hover {
  background-color: #ccc;
}

.hint-container {
  position: relative;
  display: inline-block;
}

.hint {
  visibility: hidden;
  width: 120px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s, visibility 0s linear 0.3s;
}

.hint-container:hover .hint {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
